@font-face {
  font-family: 'Avenir Black';
  src: url('../../design-files/font/AvenirLTStd-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('../../design-files/font/AvenirLTStd-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Roman';
  src: url('../../design-files/font/AvenirLTStd-Roman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Roman', sans-serif;
}
